.contentButtonandTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20px;
}

.link {
  color: #fff;
  text-decoration: none;
}

.title {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 100;
  width: 98%;
}

.cardStyle {
  color: #fff;
  border-radius: 10px;
  display: flex;
  padding: 1rem 0;
  align-items: center;
  flex-direction: column;
  width: 250px;
  height: 400px;
  margin: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px) brightness(90%);
  transition: all ease 0.5s;
  animation: aparecer 0.5s linear;
}

@keyframes aparecer {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.cardStyle button {
  background-color: transparent;
  color: white;
  border: 0;
  width: 20px;
  align-self: flex-end;
  font-size: 1.2rem;
  cursor: pointer;
}

.cardStyle:hover {
  transform: scale(0.99);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.cardStyle img {
  width: 200px;
}

.cardStyle h1 {
  font-weight: 100;
}

.temp {
  width: 100%;
}

.temp h5 {
  font-size: 3rem;
  font-weight: 100;
  margin: -1rem 0 0 0;
}

/* .divMinMax {
  display: flex;
  width: 65%;
  margin-bottom: 20px;
}

.divMin {
  width: 40%;
  margin: 10px;
} */

.divMax {
  width: 40%;
  margin: 10px;
}

h5 {
  font-size: 20px;
  margin: 10px;
  font-weight: bold;
}

.extraData {
  text-align: start;
}

.parametros {
  display: flex;
  justify-content: space-between;
}
/* 
@media (max-width: 600px) {
  .cardStyle {
    width: 80%;
    height: 200px;
  }
  .title {
    font-size: 30px;
  }

  .cardStyle img {
    width: max-content;
    float: right;
    margin: 0;
  }

  .divMinMax {
    width: 50%;
  }
} */
