.contendorNav {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  margin: 0px 20px;
  backdrop-filter: blur(20px) brightness(90%);
  width: 30%;
  height: 80px;
  border-radius: 0 0 40px 40px;
  background-color: rgba(0, 0, 0, 0.1);
}

.nav img {
  width: 80px;
  padding-left: 20px;
}

@media (max-width: 600px) {
  .nav {
    height: 70px;
    width: 80%;
  }
  .nav img {
    width: 40px;
    padding: 0;
  }
}
/* .title {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.title:hover {
  color: #000;
  transform: scale(1.1);
  transition: all 0.2s ease-out;
  text-decoration: none;
} */
