.busqueda {
  background: transparent;
  border: 2px solid black;
  border-right: none;
  border-radius: 20px;
  height: 40px;
  width: 250px;
  margin-right: 5px;
  outline: none;
  font-size: 20px;
  padding-left: 10px;
}

.boton {
  background: transparent;
  border: 1px solid black;
  border-radius: 20px;
  height: 40px;
  width: 100px;
  font-size: 20px;
}
