.from {
  background-color: #323644;
  border-radius: 20px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.busqueda {
  color: #fff;
  height: 40px;
  width: 180px;
  margin-right: 5px;
  outline: none;
  font-size: 20px;
  padding-left: 10px;
  background: transparent;
  border: none;
}

.boton {
  color: #fff;
  background: transparent;
  border: none;
  border-radius: 20px;
  height: 40px;
  width: 100px;
  font-size: 20px;
}

@media (max-width: 600px) {
  .busqueda {
    width: 50%;
    font-size: 20px;
  }
  .boton {
    width: 25%;
    font-size: 15px;
  }
}
