body {
  margin: 0;
  background: url("./img/fondo.jpg");
  /* backdrop-filter: blur(1px); */
  background-size: 200vh;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: sans-serif;
  backdrop-filter: blur(2px);
}

code {
  font-family: sans-serif;
}
